# === Ignore large datasets ===
local_data/

# === Ignore all notebooks ===
notebooks/

# === Ignore "OLD" folder ===
OLD/

Pipelines/

local_Predictions_archive/

venv/

__pycache__/

models/

python/

.streamlit/secrets.toml
